.first__sec{
padding-left: 150px;
padding-right:150px;
width: 100% !important;
}
.first__sec__row{
    width: 100% !important;
}
.title__body{
        /* color: #fff; */
            /* white-space: normal; */
            -webkit-text-fill-color: transparent;
            background-color: #0000;
            background-image: linear-gradient(#fff, #fff);
            -webkit-background-clip: text;
            background-clip: text;
            margin-bottom: 53px;
            font-family: Aclonica, sans-serif;
            font-size: 60px;
            font-weight: 400;
        margin-top: 170px;
}
.title__color{
    webkit-text-fill-color: transparent;
        background-image: linear-gradient(268deg, #dec7ff, #5c27fe);
        -webkit-background-clip: text;
        background-clip: text;
        font-size: 65px;
        position: relative;
        font-weight: bold;
}
.title{
    font-size: 50px;
}
.title__line{
    text-align: right;
    position: absolute;
    left: 250px;
    top: 60px;
}
.para__line{
    font-size: 20px;
    color: #fff;
    margin-top: 70px;
}
.user,
.back{
max-width: 100%;
    height: auto;
}
.user__body{
    position: relative;
}
.user{
    position: absolute;
    width: 480px;
    top: 80px;
    left: 205px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.gmail,
.call,
.linkedin,
.git,
.benhance,
.youtube{
    position: absolute;
    width: 55px;
    cursor: pointer;
   
}
.gmail{
    top: 100px;
    left: 20px;
    animation: mymovegmail 5s infinite;
    -webkit-animation: mymovegmail 5s infinite;
}
.call{
    top: 260px;
    animation: mymovecall 5s infinite;
    -webkit-animation: mymovecall 5s infinite;
    right: 0px;
}
.linkedin{
    top: 320px;
    left: 30px;
    animation: mymovelinkedin 5s infinite;
    -webkit-animation: mymovelinkedin 5s infinite;
}
.youtube{
    right: 20px;
    top: 80px;
    animation: mymoveyoutube 5s infinite;
    -webkit-animation: mymoveyoutube 5s infinite;
}
.benhance{
    bottom: 160px;
    left: 60px;
    animation: mymovebenhance 5s infinite;
    -webkit-animation: mymovebenhance 5s infinite;
}
.git{
    bottom: 180px;
    animation: mymovegit 5s infinite;
    -webkit-animation: mymovegit 5s infinite;
}
@keyframes mymovegmail {
    0% {
        top: 100px;
    }

    50% {
        top: 120px;
    }
    100%{
        top: 100px;
    }
}
@keyframes mymovegit {
    0% {
        bottom: 180px;
    }

    50% {
        bottom: 160px;
    }

    100% {
        bottom: 180px;
    }
}
@keyframes mymovebenhance {
    0% {
        bottom: 160px;
    }

    50% {
        bottom: 140px;
    }

    100% {
        bottom: 160px;
    }
}
@keyframes mymoveyoutube {
    0% {
        top: 80px;
    }

    50% {
        top: 60px;
    }

    100% {
        top: 80px;
    }
}
@keyframes mymovelinkedin {
    0% {
        top: 320px;
    }

    50% {
        top: 300px;
    }

    100% {
        top: 320px;
    }
}
@keyframes mymovecall {
    0% {
        top: 260px;
    }

    50% {
        top: 250px;
    }

    100% {
        top: 260px;
    }
}
@media (min-width:0px) and (max-width:600px) {
    .first__sec{
        padding: 0px;
    }
    .first__sec__row{
        display: flex;
        flex-direction: column;
    }
    .title__body{
        margin-top: 30px;
        width: 100%;
        font-size: 40px;
                padding: 0 10px;
    }
    .title{
        font-size: 37px;
    }
    .title__color{
        font-size: 42px;
    }
    .title__line{
        left: 50px;
    }
    .para__line{
        margin-top: 100px;
        width: 100%;
        font-size: 17px;
    }
    .user{
        width: 230px;
        left: 80px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        top: 30px;
}
.gmail,
.call,
.linkedin,
.git,
.benhance,
.youtube{
    width: 25px;
}
.git{
    right: 30px;
}
}
/*********************************************/
/*second section */
.SecondSec{
    margin-top: 70px;
}
.SecondSec__title{
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}
.arrow__steps {
    text-align: center;
    margin: auto !important;
    position: relative;
}
.svgcircle{
    stroke: linear-gradient(268deg, #dec7ff, #5c27fe) !important;
    fill: #dec7ff !important;
}
.arrow {
    margin-top: 50px;
    margin-bottom: 50px;
}

.one {
    position: absolute;
    top: 65px;
    left: 12%;
}

.two {
    position: absolute;
    top: 65px;
    left: 35%;
}

.three {
    position: absolute;
    top: 65px;
    left: 60%;
}

.four {
    position: absolute;
    top: 65px;
    left: 85%;
}

.one p,
.two p,
.three p,
.four p {
    position: absolute;
    top: 12px;
    left: 18px;
    color: #fff;
    font-size: 20px;
}
.parts {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}

.part {
    border-radius: 24px;
    border: 1px solid rgba(5, 86, 24, 0.30);
    border-top: 5px solid #dec7ff;
    border-bottom: 5px solid #dec7ff;
    background: #fff;
    text-align: center;
    padding: 40px 25px;
}

.part h3 {
    font-size: 20px;
    font-weight: bold !important;
}

.part img {
    margin-bottom: 10px;
}
/**********************************************/
/*third sec*/
.ThirdSec{
    position: relative; 
color: #fff !important;
            margin: 70px auto;
            text-align: center;
}
.skills__title{
    margin-bottom: 50px;
}
.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    position: relative;
}
.col{
    
    background-image: linear-gradient(#ffffff1a, #fff0);
        border-radius: 16px;
        margin-top: 0;
        margin-bottom: 0;
        padding: 38px 30px 30px;
        height: fit-content;
            text-align: left !important;
}

.row h2{
    font-size: 17px;
}
.title__linee{
    background-image: linear-gradient(to right, #5c27fe, #d0b5ff 100%, #dec7ff);
        width: 60px;
        height: 4px;
        margin-bottom: 20px;
        text-align: left;

}
.lines__body{
        background-color: #1f223e;
            width: 1px;
            height: 950px;
            position: absolute;
         
            left: 50%;
}
.lines__one,
.lines__two,
.lines__three,
.lines__four,
.lines__five{
    background-color: #1f223e;
        border-radius: 100%;
        justify-content: center;
        align-items: center;
        width: 19px;
        height: 19px;
        display: flex;
        position: absolute;
            
        right: -9px;
        z-index: 100000;
}
.line__top,
.line__bottom,
.line__onee,
.line__twoo,
.line__three,
.line__fourr,
.line__fivee{
    background-image: linear-gradient(281deg, #dec7ff, #5c27fe);
        border-radius: 100%;
        width: 11px;
        height: 11px;
        position: absolute;
right: -5px;
z-index: 1000;
}

.line__bottom{
    bottom: -10px;
}
.lines__one{
    top: 75px;
}
.line__onee,
.line__twoo,
.line__three,
.line__fourr,
.line__fivee{
    right: 4px;
}
.lines__two{
    top: 175px;
}
.lines__three{
    top: 395px;
}
.lines__four {
    bottom: 368px;
}
.lines__five{
    bottom: 182px;
}
.skill__one{
  margin-top: 30px;
}
.line__left{
    position: absolute;
        background-color: #1f223e;
            width: 50px;
            height: 1px;
            left: 100%;
}
.skill__two{
    margin-top: 130px;
}
.skill__three{
    margin-top: 12px;
}
.skill__four{
    margin-top: 180px;
}
.line__right{
    position: absolute;
        background-color: #1f223e;
        width: 50px;
        height: 1px;
        right: 100%;
}
.ul__body{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}