body {
  margin: 0 !important;
  padding: 0 !important;
      width: 100% !important;
}

@font-face {
  font-family: 'PlaywriteDEGrund-Regular';
  src: url(/src/assets/font/PlaywriteDEGrund-Regular.ttf);
}
@font-face {
  font-family: 'LamaSans-Medium';
  src: url(/src/assets/font/LamaSans-Medium.ttf);
}body {
    background-color: #070a29;
    background-image: url('./assets/images/648a6bb39e2d83664cf29c45_Bg\ \(1\).png');
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
}


:root {
  --color-primary-white: rgb(240, 240, 240);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-family: 'Roboto', sans-serif;
  height: 700px;
}


.popular-movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem 2rem;
}